In [1]:
# defining a set

my_set = {1, 2, 3, 4, 5}
my_set

{1, 2, 3, 4, 5}

In [2]:
new_set = {1, 2, 3, 4, 3, 2}
new_set

{1, 2, 3, 4}

In [3]:
my_set = {1, 2, 3, 4, 5}
my_set[2] # this will raise an error

TypeError: 'set' object is not subscriptable

In [4]:
my_set = {1, 2, 3, 4, 5}
my_set.add(6) # add a new element
my_set

{1, 2, 3, 4, 5, 6}

In [5]:
# remove duplicates from a list
my_list = [1, 2, 3, 4, 3, 2]
my_set = set(my_list)
my_list = list(my_set)
my_list

[1, 2, 3, 4]

In [6]:
my_set = {1, 2, 3, 4, 5}

# print the set using a loop

for i in my_set:
    print(i, end=' ')

1 2 3 4 5

In [7]:
my_set = {1, 2, 5, 4, 3}
print(my_set)

{1, 2, 3, 4, 5}

In [8]:
# remove an element from a set
my_set = {1, 2, 3, 4, 5}
my_set.remove(3)
my_set

{1, 2, 4, 5}

In [9]:
# check if an element is in a set
my_set = {1, 2, 3, 4, 5}
3 in my_set # is 3 in my_set?

True

In [10]:
# union of two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
set3 = set1.union(set2)
set3

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

set3 = set1 + set2 # this will raise an error

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [12]:
# intersection of two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
set3 = set1.intersection(set2)
set3

{3, 4, 5}

In [14]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

set3 = set1 - set2
set3

{1, 2}

In [15]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

set3 = set2 - set1
set3

{6, 7}