In [6]:
my_list = [23, 4.56, True, "Hello", None]

print(my_list)

# list is indexed from 0
print(my_list[0])
print(my_list[4])

[23, 4.56, True, 'Hello', None]
23
None

In [7]:
l = [23, 67]
l.append('Avik')

print(l)

[23, 67, 'Avik']

In [11]:
l = [23, 67, 100, 'Trisa']
l.pop() # if no index is given, it will remove the last element
print(l)

[23, 67, 100]

In [14]:
l = [23, 67, 100, 'Trisa']
l.pop(1) # you may also give the particular index to remove
print(l)

[23, 100, 'Trisa']

In [15]:
l = [23, 67, 100, 'Ishita']
l.remove(67) # you may also give the particular value to remove
print(l)

[23, 100, 'Ishita']

In [21]:
l = [23, 67, 100, 'Ishita', 100]
l.remove(100) # it will remove the first occurance of the value
print(l)

[23, 67, 'Ishita', 100]

In [16]:
l = [23, 67, 100, 'Ishita']
l.insert(1, 'Avik')
print(l)

[23, 'Avik', 67, 100, 'Ishita']

In [17]:
l = [23, 67, 100, 'Ishita']
l.reverse()
print(l)

['Ishita', 100, 67, 23]

In [20]:
l = [67, 23, 100]
l.sort() # it will sort the list in ascending order
print(l)

[23, 67, 100]

In [26]:
l = [67, 23, 100]
l.sort(reverse=True) # it will sort the list in descending order
print(l)

[100, 67, 23]

In [27]:
l = [67, 23, 100]
print(len(l))

3

In [28]:
56 in [12, 56, 78] # it will return True

True

In [29]:
56 not in [12, 56, 78]

False

In [30]:
l = []
print(len(l))

0